# Métodos de busca multidimensional - Irrestrita

In [2]:
import numpy as np
import pandas as pd

**Observação:** Vetores são vetores coluna, que em numpy são matrizes de uma coluna.

In [148]:
def f(x):
    return x[0, :]**2 + x[1, :]**2

def f1(x):
    a = np.array([
        [2],
        [2],
    ])
    return a * x

def f2(x):
    return np.array([
        [2, 0],
        [0, 2],
    ])

def f2inv(x):
    return np.array([
        [1/2, 0],
        [0, 1/2],
    ])

In [149]:
x = np.array([[2, 1]]).T
x

array([[2],
       [1]])

## Método do Gradiente

In [162]:
def otimizar(x_0, f1, numero_iteracoes=10):
    x_ = np.zeros((len(x_0), numero_iteracoes+1))
    α_ = np.zeros(numero_iteracoes+1)
    
    x_[:, 0] = x_0.T
    
    for k in range(numero_iteracoes):
        x_k = x_[:, [k]]
        
        d = - f1(x_k)
        α_[k] = .25 #?
        x_k_next = x_k + α_[k]*d

        x_[:, k+1] = x_k_next.T
        
    retorno = {f'x_{i}': x_[i] for i in range(len(x_0))}
    retorno['f(x)'] = f(x_)
    retorno['α'] = α_
    
    return pd.DataFrame(retorno)

otimizar(x, f1, numero_iteracoes=20)

         x_0           x_1          f(x)     α
0   2.000000  1.000000e+00  5.000000e+00  0.25
1   1.000000  5.000000e-01  1.250000e+00  0.25
2   0.500000  2.500000e-01  3.125000e-01  0.25
3   0.250000  1.250000e-01  7.812500e-02  0.25
4   0.125000  6.250000e-02  1.953125e-02  0.25
5   0.062500  3.125000e-02  4.882812e-03  0.25
6   0.031250  1.562500e-02  1.220703e-03  0.25
7   0.015625  7.812500e-03  3.051758e-04  0.25
8   0.007812  3.906250e-03  7.629395e-05  0.25
9   0.003906  1.953125e-03  1.907349e-05  0.25
10  0.001953  9.765625e-04  4.768372e-06  0.25
11  0.000977  4.882812e-04  1.192093e-06  0.25
12  0.000488  2.441406e-04  2.980232e-07  0.25
13  0.000244  1.220703e-04  7.450581e-08  0.25
14  0.000122  6.103516e-05  1.862645e-08  0.25
15  0.000061  3.051758e-05  4.656613e-09  0.25
16  0.000031  1.525879e-05  1.164153e-09  0.25
17  0.000015  7.629395e-06  2.910383e-10  0.25
18  0.000008  3.814697e-06  7.275958e-11  0.25
19  0.000004  1.907349e-06  1.818989e-11  0.25
20  0.000002  9.536743e-07  4.547474e-12  0.00

## Método de Newton

In [163]:
def otimizar(x_0, f1, f2inv, numero_iteracoes=10):
    x_ = np.zeros((len(x_0), numero_iteracoes+1))
    
    x_[:, 0] = x_0.T
    
    for k in range(numero_iteracoes):
        x_k = x_[:, [k]]

        x_k_next = x_k - f2inv(x_k) @ f1(x_k)
        x_[:, k+1] = x_k_next.T
    
    retorno = {f'x_{i}': x_[i] for i in range(len(x_0))}
    retorno['f(x)'] = f(x_)
    
    return pd.DataFrame(retorno)

otimizar(x, f1, f2inv)

    x_0  x_1  f(x)
0   2.0  1.0   5.0
1   0.0  0.0   0.0
2   0.0  0.0   0.0
3   0.0  0.0   0.0
4   0.0  0.0   0.0
5   0.0  0.0   0.0
6   0.0  0.0   0.0
7   0.0  0.0   0.0
8   0.0  0.0   0.0
9   0.0  0.0   0.0
10  0.0  0.0   0.0